cycler==0.10.0
funcsigs==1.0.2
matplotlib==1.5.3
mock==2.0.0
numpy==1.11.2
pandas==0.19.1
pbr==1.10.0
protobuf==3.0.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.7
scipy==0.18.1
seaborn==0.7.1
six==1.10.0
tensorflow==0.11.0rc2
